body {
    padding-top: 18px;
}

.table-hover tbody tr:hover > td {
    cursor: pointer
}

input[type='checkbox'] {
    cursor: pointer;
}

@media (max-width: 768px) {
    [class*="col-"]{
        margin-bottom: 15px;
    }
}
