<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <input id="searchItem" ng-model="query" placeholder="Search" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover" ts-wrapper>
            <thead>
            <tr>
                <th ts-criteria="name" ts-default="ascending">Name</th>
                <th ts-criteria="snippet">Snippet</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="phone in phones | filter:query" ts-repeat>
                <td><a href="#/phones/{{phone.id}}">{{phone.name}}</a></td>
                <td>{{phone.snippet}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
