<ol class="breadcrumb">
    <li ng-repeat="step in steps" ng-class="{active: $last}" ng-switch="$last || !!step.abstract">
        <a ng-switch-when="false" href="{{step.ncyBreadcrumbLink}}">{{step.ncyBreadcrumbLabel}}</a>
        <span ng-switch-when="true">{{step.ncyBreadcrumbLabel}}</span>
    </li>
    <span class="pull-right" style="color: #999999;">
        {{$root.sessionInfo.name}}<a href="/logout" style="padding: 3px;"><i class="fa fa-power-off" style="padding: 3px;"></i></a>
    </span>
</ol>
