<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="form-signin-heading">Brand</h2>

        <form name="loginForm" ng-submit="login()">
            <div class="login-form">
                <div class="form-group">
                    <input name="email" type="text" class="form-control login-field" value="" placeholder="Email" id="inputEmail" ng-model="credentials.email"/>
                    <label class="login-field-icon fui-user" for="inputEmail"></label>
                </div>

                <div class="form-group">
                    <input  name="password" type="password" class="form-control login-field" value="" placeholder="Password" id="inputPassword" ng-model="credentials.password"/>
                    <label class="login-field-icon fui-lock" for="inputPassword"></label>
                </div>
                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Log in"/>
            </div>
        </form>

    </div>

</div>
