<div class="container-fluid">
    <div class="col-md-4 col-md-offset-4">
        <h2 class="form-signin-heading">&nbsp;</h2>

        <form name="loginForm" ng-submit="login()" method="post">
            <div class="login-form">
                <div class="form-group" ng-show="loginError">
                    <div class="alert alert-danger" role="alert">
                        <span class="fui-alert-circle"></span>&nbsp;Incorrect Email or Password
                    </div>
                </div>

                <div class="form-group">
                    <input id="email" name="email" type="text" class="form-control login-field" placeholder="Email" ng-model="credentials.email" focus="true"/>
                    <label class="login-field-icon fui-user" for="email"></label>
                </div>

                <div class="form-group">
                    <input id="password" name="password" type="password" class="form-control login-field" placeholder="Password" ng-model="credentials.password"/>
                    <label class="login-field-icon fui-lock" for="password"></label>
                </div>

                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Log in"/>
            </div>
        </form>

    </div>
</div>
