<div ng-include="'templates/nav-bar.html'"></div>

<div ng-include="'templates/breadcrumb.html'"></div>

<div class="row">

    <div class="col-md-10">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="newPhone()">
                    <i class="fui-plus"></i> New
                </button>
                <button type="button" class="btn btn-default" ng-click="savePhone()" ng-disabled="!selectedPhone">
                    <i class="fui-pencil"></i> Edit
                </button>
                <button type="button" class="btn btn-default" ng-click="copyPhone()" ng-disabled="!selectedPhone">
                    <i class="fui-copy"></i> Clone
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="deletePhone()" ng-disabled="!selectedPhone">
                    <i class="fui-trash"></i> Delete
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group has-feedback">
            <input id="searchItem" type="text" class="form-control" placeholder="Search" ng-model="query"/>
            <i class="form-control-feedback fui-search"></i>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-12">
        <table class="table table-striped table-hover" ng-show="loaded" ts-wrapper>
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th ts-criteria="name" ts-default="ascending">Name</th>
                <th ts-criteria="snippet">Snippet</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="phone in phones | filter:query" ng-class="{info: phone.id === selectedPhone.id}" ts-repeat>
                <td ng-click="setSelectedPhone(phone)">
                    <input type="checkbox" onclick="this.checked=!this.checked;" ng-checked="phone.id === selectedPhone.id">
                </td>
                <td ng-click="$state.go('detail.main', {phoneId: phone.id})">
                    <a>{{phone.name}}</a>
                </td>
                <td ng-click="setSelectedPhone(phone)">
                    {{phone.snippet}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
